
.nav {position:relative;width: 500px;height: 50px;
    background-color: rgb(93, 203, 236);
}
.nav ul{list-style-type:none; padding-top: 10px;}
.nav ul li {display: inline-block;font-size: large;}

.header {
    padding: 60px;
    text-align: center;
    background: #1abc9c;
    color: white;
    font-size: 30px;
}
.table, th,td{

    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;;
}
.header2{
    background-image: url('maisema.jpg');
    background-size: cover;
    background-position: center;
    height: 200px; /* Set an appropriate height */
    text-align: center;
    color:ghostwhite ;
    text-shadow: 2px 2px rgb(5, 0, 12);
    padding: 30px;
    ;

}
.col{
    background-color: #b5e3da;
}
footer {
    background-color: rgb(241, 245, 245);
}



